<h1>Hot Reads!</h1>
<table>
  <tr>
    <th>Rank</th>
    <th>Link</th>
    <th>Reads</th>
  </tr>
  <% @links.each_with_index do |link, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to link.url %></td>
      <td><%= link.url_count %></td>
    </tr>
  <% end %>
</table>
